<launch>
  <master auto="start"/>
  
  <!--需要在 protocol.h 中 #define 英雄机器人 -->
  <node pkg="roborts_serial" type="fake_serial" name="serial" output="screen" respawn="true"/>
  
  <node pkg="roborts_vision" type="roborts_vision_node" name="big_gimbal" output="screen" respawn="true">
    <!--机器人参数-->
    <param name="robot_id" type="string" value="1"/> 
    <!--云台参数-->
    <param name="gimbal_type" type="string" value="big_gimbal_link"/>
    <param name="pitch_enable" type="string" value="yes"/>
    <param name="gimbal_x"  type="double" value="0"/>
    <param name="gimbal_y"  type="double" value="0"/>
    <param name="gimbal_z"  type="double" value="15"/>
    <!--相机参数-->
    <param name="camera_type" type="string" value="mercure"/> 
    <param name="camera_id" type="int" value="1"/>
    <param name="resolution_width"  type="int" value="1600"/>
    <param name="resolution_height" type="int" value="900"/>
    <param name="video_path" type="string" value="../armor_20190714_191754.avi"/>  
  </node>

  <node pkg="roborts_vision" type="roborts_vision_node" name="small_gimbal" output="screen" respawn="true">
    <!--机器人参数-->
    <param name="robot_id" type="string" value="1"/> 
    <!--小云台参数-->
    <param name="gimbal_type" type="string" value="small_gimbal_link"/>
    <param name="pitch_enable" type="string" value="yes"/>
    <param name="gimbal_x"  type="double" value="10"/>
    <param name="gimbal_y"  type="double" value="20"/>
    <param name="gimbal_z"  type="double" value="50"/>
    <!--相机参数-->
    <param name="camera_type" type="string" value="mercure"/> 
    <param name="camera_id" type="int" value="2"/>
    <param name="resolution_width"  type="int" value="1600"/>
    <param name="resolution_height" type="int" value="900"/>
    <param name="video_path" type="string" value="../armor_20190714_191754.avi"/>  
  </node>

</launch>
